<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Perguntar</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarPergunta">
                    <label>Titulo</label>
                    <input name="titulo" type="text" placeholder="Titulo" class="form-control">
                    <br>
                    <label>Descrição</label>
                    <textarea name="descricao" type="text" placeholder="Descreva sua pergunta aqui" class="form-control"></textarea>
                    <br>
                    <button class="btn btn-success">Perguntar</button>
                </form>
            </div>
        </div>   
    </div>

</body>
<%- include ('./partials/footer.ejs') %>
